:root{
    --color_light__grey: #d9d9d9;
    --color_dark__grey: #e3e3e3;
}
.xxx{
    width: 1000px;
    border: 5px solid var(--color_dark__grey);
    padding: 5px;
    margin: 0 auto;
    border-radius: 8px;
}
.header{
    height: 150px;
    background-color: var(--color_light__grey);

}
.main{
    margin-top: 5px;
    display: flex;
}
.main_left__xxx{
    height: 150px;
    background-color: var(--color_light__grey);
}
.main_left__item{
    background-color: var(--color_light__grey);
    height: 150px;
    flex-grow: 1;
    width: 1000px;
}
.main_left__yyy{
    display: flex;
    column-gap: 5px;
}
.main_right{
    flex-grow: 1;
    background-color: var(--color_dark__grey);
    margin-left: 5px;
}
.main_left {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
}